<!-- begin barba content -->
<div id="barba-wrapper">
  <div class="barba-container" data-namespace="Single">
	<!-- begin single -->
	<div class="single" style="background-image: url(img/{{img}})">
		<h2 class="single__title">{{title}}</h2>
	</div>
	<!-- end single -->
	<!-- begin content -->
	<div class="content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio vero velit repudiandae totam, doloremque commodi voluptas aut accusantium fuga obcaecati, enim impedit eum quos iure quo, quidem accusamus sapiente maiores?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae laborum commodi fugiat, mollitia distinctio modi, illo obcaecati est deleniti eum similique! Aliquid recusandae repellendus voluptates pariatur nostrum iure aspernatur debitis.</p>
	</div>
	<!-- end content -->
	
  </div>
</div>
<!-- end barba content -->